body {
	background-color: #8CDECE;
}
.login-box {
	padding: 40px 20px 30px 20px;
	margin-top: 70px;
	border: solid 1px #54857C;
/* 	background-color: rgba(255, 255, 255, 0.4); */
	background-color: #fff;
	border-top: solid 5px #54857C;
}