body {
	background-color: #8CDECE;
	background: url('../img/DeathtoStock_Creative Community9.jpg') no-repeat center center fixed;
	background-size: cover;
}
.login-box {
	padding: 50px 50px 40px 50px;
	margin-top: 70px;
	border: solid 1px #54857C;
	background-color: #fff;
	border-top: solid 5px #54857C;
}
