<form class="form-horizontal">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="coTipoDocumento-<%=cid%>" class="control-label col-sm-4">Tipo de documento</label>
                <div class="col-sm-4">
                    <select id="coTipoDocumento-<%=cid%>" name="coTipoDocumento-<%=cid%>" class="form-control input-sm">
                        <option value="01">DNI</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="nuDocumento-<%=cid%>" class="control-label col-sm-4">Nro. de documento</label>
                <div class="col-sm-4">
                    <input type="text" id="nuDocumento-<%=cid%>" name="nuDocumento-<%=cid%>" class="form-control input-sm" value="<%=trabajador.persona.nuDocumento%>" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="apPersona-<%=cid%>" class="control-label col-sm-4">Apellido paterno</label>
                <div class="col-sm-8">
                    <input type="text" id="apPersona-<%=cid%>" name="apPersona-<%=cid%>" class="form-control input-sm" value="<%=trabajador.persona.apPersona%>" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="amPersona-<%=cid%>" class="control-label col-sm-4">Apellido materno</label>
                <div class="col-sm-8">
                    <input type="text" id="amPersona-<%=cid%>" name="amPersona-<%=cid%>" class="form-control input-sm" value="<%=trabajador.persona.amPersona%>" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="noPersona-<%=cid%>" class="control-label col-sm-4">Nombres</label>
                <div class="col-sm-8">
                    <input type="text" id="noPersona-<%=cid%>" name="noPersona-<%=cid%>" class="form-control input-sm" value="<%=trabajador.persona.noPersona%>"/>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="feNacimiento-<%=cid%>" class="control-label col-sm-4">Fecha de nacimiento</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        <input type="text" id="feNacimiento-<%=cid%>" name="feNacimiento-<%=cid%>" class="form-control input-sm date" value="<%=moment(trabajador.persona.feNacimiento).format('DD/MM/YYYY')%>" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-default btn-sm btn-save"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
        </div>
    </div>
</form>